.bottomContainer {
  background-color: #edf0f7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 6px;

  padding: 5px 0px 11px 0px;
  margin: 0px 26px 0px 26px;
}
.parent > input {
  width: 30px;
  height: 30px;
  background-color: #edf0f7;
  border: 1px solid #cfd1d6;
  margin-top: 11px;
  border-radius: 5px;
}
.parent > input::placeholder {
  color: #cfd1d6;
  text-align: center;
}
