.outerContainer {
  border: none !important;
  border-radius: 15px;
  margin-top: -8rem;
  background-color: #0b3e98;
  color: #747684;
  font-weight: 500;
  height: 113px;
  width: 319px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: -11px;
}

.header {
  position: relative;
  top: 11px;
  width: 135px;
  height: 35px;
}

.resultContainer {
  background-color: green;
  color: white;

  margin: auto;
  text-align: center;
  font-weight: 400;
  border-radius: 10px;
  height: 40px;
  display: flex;

  justify-content: center;
  width: 319px;
  height: 140px;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin-left: auto;
  margin-right: auto;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.result {
  position: relative;
  top: 10px;
}

.gameloghand {
  width: 289px;
  height: 48px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  border-radius: 5px;
  
}
.count {
  width: 289px;
  height: 48px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 13px;
  flex-grow: 1;
}
.parentCount {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 12px;
}
.parentCount > div {
  background-color: white;
  width: 96px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
 .parentCount > div:nth-child(2){
    border-right: 1px solid #747684;
    border-left: 1px solid #747684;
  } 
  .parentCount > div:nth-child(1){
   border-radius: 5px 0 0 5px;
  } 
  .parentCount > div:nth-child(3){
    border-radius: 0 5px 5px 0;
  } 
.count1 {
  grid-area: 1 / 1 / 2 / 2;

}
.count2 {
  grid-area: 1 / 2 / 2 / 3;
}
.count3 {
  grid-area: 1 / 3 / 2 / 4;
}
.pointParent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 15px;
}
.pointParent > div {
  background-color: white;
  width: 96px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.pointParent > div:nth-child(2){
  border-right: 1px solid #747684;
  border-left: 1px solid #747684;
} 
.pointParent > div:nth-child(1){
 border-radius: 5px 0 0 5px;
} 
.pointParent > div:nth-child(3){
  border-radius: 0 5px 5px 0;
} 
.mainContainer {
  padding: 10px;
  margin-bottom: 1rem;
  position: relative;
  left: 0;
  right: 0;
  top: -1rem;
  margin-left: auto;
  margin-right: auto;
  width: 19.93rem;
  height: 345px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  background-color: #0b2459;
}

.parentGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.parentGrid > div {
  background-color: white;
  width: 137px;
  height: 48px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.bluecircle{
  width: 21px;
  height: 21px;
  background-color: #277eca;
  border-radius: 50%;
}
.redcircle{
  width: 21px;
  height: 21px;
  background-color: #ed4967;
  border-radius: 50%;
}
.greencircle{
  width:21px;
  height: 21px;
  background-color: #19a05c;
  border-radius: 50%;
}